<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="gallery.css">
    <link rel="icon" href="/Assets/starwhite.svg">
    <script type="module" src="/Controller/gallery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    
    <header> 

        Galeria de imagenes :3

        <p id="actLove" class="lv-ic">💗</p>

        <button class="bc-01">
            <a href="/index.html"> INICIO </a>
            <label></label>
        </button>

    </header>

    <div class="gl-gd">

        <section class="cd-im">
            <img src="/Assets/gallery-image001.jpeg" alt="">
            <h2> Day One </h2>
            <p> Este dia inicio mi gran amor contigo mi vida</p>
        </section>

        <section class="cd-im">
            <img src="/Assets/1-mes.jpeg" alt="">
            <h2> 1 Mes </h2>
            <p> Este dia fue nuestro primer mes y nuestra primera charla sobre el pasado</p>
        </section>

        <section class="cd-im">
            <img src="" alt="¿Como es fotico amor mio?">
            <h2> 2 Mes </h2>
            <p> Te amo te amo :3 jejeje pronta actualizacion</p>
        </section>

        <section class="cd-im">
            <img src="" alt="Esta si despues jeje">
            <h2> 3 Mes </h2>
            <p> Todavia info no disponible my love</p>
        </section>

    </div>

</body>
</html>